.headingcolor{
    background-color: #F66CFB;
}

#headingcolorprice{
	background-color: #F60A25;
}

#headprd{
	background-color: rgba(13, 243, 210,0.5);
}
table{
	border-collapse: collapse;
    background-color: #6CE616;
}
